<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdww8591.dao.ItemDao">

    <resultMap id="itemMap" type="com.sdww8591.entity.Item">
        <result property="id" column="id"/>
        <result property="index" column="item_index"/>
        <result property="type" column="item_type"/>
        <result property="subId" column="sub_id"/>
    </resultMap>

    <select id="getItems" resultMap="itemMap">
        SELECT *
        FROM t_item_list
    </select>
</mapper>