<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdww8591.dao.PhotoDao">

    <resultMap id="photoMap" type="com.sdww8591.entity.Photo">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
    </resultMap>

    <select id="getPhotos" resultMap="photoMap">
        SELECT *
        FROM t_picture_info
    </select>
</mapper>